<!DOCTYPE html>
<html lang="en">
  <head>
    <title>OASIS ESTATES</title>
    <link rel="stylesheet" href="static/css/index.css"/>
  </head>
  <body>
    <div class="main">
      <div class="navbar">
        <div class="icon">
          <h2 class="logo">OASIS</h2>
        </div>

        <div class="manu">
          <ul>
            <li><a href="#">HOME</a></li>
            <li><a href="#">ABOUT</a></li>
            <li><a href="#">SERVICE</a></li>
            <li><a href="#">DESIGN</a></li>
            <li><a href="#">CONTACT</a></li>
          </ul>
        </div>
        <div class="search">
          <input
            type="srch"
            class="srch"
            name="search"
            placeholder="Type to text"
          />
          <a href="#"> <button class="btn">Search</button></a>
        </div>
      </div>
      <div class="content">
        <h1>WED DESIGN & <br /><span>DEVELOPMENT</span> <br />COURSE</h1>
        <pr class="paragraph"
          >Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br />
          Doloremque ex sequi accusantium voluptates, et provident nisi veniam
          dicta culpa <br />
          voluptatem eaque ab repudiandae laudantium, quae harum placeat autem
          animi?</pr
        >
        <br />
        <button class="cn">JOIN US</button>

        <div class="form">
          <h2>Login Here</h2>
          <input type="email" name="emal" placeholder="Enter email" />
          <input
            type="password"
            name="password"
            placeholder="Enter password Here"
            div
          />

          <p class="link">Don't Have An Account</p>
          <br />
          <a href="#">Sign Up Here</a>
          <p class="liw">Log in with</p>
        </div>
      </div>
    </div>
  </body>
</html>
